<header class="sticky">
    <div class="enlaces-registro">
      <a href="/apuesta">Apuesta</a>|
      <a href="/cerrar-apuesta">Cerrar Apuesta</a>
    </div>
    <a href="/" class="logo">Masivian-Clean Code</a>
    <a href="/" class="button"><span class="icon-home"></span> Inicio</a>
  </header>