<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Clean Code</title>
    <link rel="stylesheet" href="/stylesheets/estilos.css">
    <link rel="stylesheet" href="/stylesheets/mini-default.min.css">
</head>
<body>
    <% include ./partials/encabezado %>
    <div class="container">
        <h1>Apuesta</h1>
        <p>Ingrese los Datos de la apuesta.
            <br><br>
            <mark>Recuerde</mark>
            <br>
            <em> Solo puede apostar a color o numero, las dos opciones a la vez no son validas.
                <br>
                La apuesta maxima son 10.000 dolares
            </em>
        </p>
        <div class="row">
            <div class="col-sm-12">
                <% if (message && message.length > 0) { %>
                <h4><span class="icon-info"></span>
                    <%=message%></h4>
                <% } %>
                <form action="/procesar-apuesta" method="POST">
                    <fieldset>
                        <legend>Ruleta</legend>
                        <p>
                            <label for="ruleta">Id Ruleta</label>
                            <br>
                            <input type="number" id="idRuleta" name="idRuleta" required="true" />
                        </p>
                        <p>
                            <label for="numero">Numero(0-36)</label>
                            <br>
                            <input type="number" id="numero" name="numero" />
                        </p>
                        <p>
                            <label for="Color">Color (Rojo o Negro)</label>
                            <br>
                            <input type="checkbox" name="color" value="rojo" />Rojo
                            <input type="checkbox" name="color" value="negro" />Negro
                        </p>
                        <p>
                            <label for="dinero">Dinero Apostar (Dolares)</label>
                            <br>
                            <input type="number" id="dinero" name="dinero" required="true" />
                        </p>
                        <p>
                            <input class="primary" type="submit" value="Apostar" />
                        </p>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <% include ./partials/pie %>
    <script src="javascripts/script.js"></script>
</body>
</html>